h1.atom-title-page {{title}}
div.molecule-form-save
  form(name="form_cliente", data-ng-submit="save(client)")
    div
      label.atom-label-save(for="razaoSocial") Razão Social
    div
      input.atom-input-save(type="text", name="razaoSocial", data-ng-model="client.razaoSocial",
        data-ng-disabled="readonly", required, minlength="5", maxlength="50")

    div.container-documento
      div.radio-container
        input(type="radio", data-ng-model="client.pessoa", value="fisica"
              data-ng-click="resetCpfCnpj()",data-ng-disabled="readonly")
        label.atom-label-save(for="pessoa") Física
        input(type="radio", data-ng-model="client.pessoa", value="juridica"
              data-ng-click="resetCpfCnpj()", data-ng-disabled="readonly")
        label.atom-label-save(for="pessoa") Jurídica

      div(data-ng-hide="!isPessoaFisica()")
        div
          label.atom-label-save(for="cpf") CPF
        div
          input.atom-input-save(type="text", name="cpf", data-ng-model="client.cpf", data-ng-disabled="readonly",
                data-ng-required="isPessoaFisica()", data-mask='999.999.999-99', data-clean="true")
      div(data-ng-hide="isPessoaFisica()")
        div
          label.atom-label-save(for="cnpj") CNPJ
        div
          input.atom-input-save(type="text", name="cnpj", data-ng-model="client.cnpj", data-ng-disabled="readonly",
                data-ng-required="!isPessoaFisica()", data-mask='99.999.999/9999-99', data-clean="true")

    div
      label.atom-label-save(for="telefone") Telefone
    div
      input.atom-input-save(type="tel", name="telefone", data-ng-disabled="readonly",
        data-ng-model="client.telefone", required, mask='(99) 9999-9999', data-clean="true")
    div(data-ng-hide="!readonly", pattern="")
      input.atom-button-edit(type="button", value="Editar", data-ng-click="edit()")

    div.atom-grid-between(data-ng-hide="readonly")
      input.atom-button-salvar(type="submit", value="Salvar")
      input.atom-button-cancelar(type="button", value="Cancelar", data-ng-click="cancel()", data-ng-hide="isCadastro()")
include ../../main/views/modal
div.default-link
div {{status}}